{{#section 'employment'}}
<hr>
<section class="row">
  <h3 class="{{headerClass}}"><span class="fa fa-fw fa-building"></span>&nbsp;{{{sectionTitle "Employment"}}}</h3>
  <div class="{{contentClass}}">
    {{#each r.employment.history}}
      {{#if url}}
      <h4><strong>{{position}}</strong>,<br><a href="{{{url}}}">{{employer}}</a></h4>
      {{else}}
      <h4><strong>{{position}}</strong>,<br>{{employer}}</h4>
      {{/if}}
      <strong>{{formatDate safe.start 'YYYY-MM'}}&mdash;{{#if end}}{{formatDate safe.end 'YYYY-MM'}}{{else}}Now{{/if}}</strong>
      {{{summary}}}
      {{#if highlights}}
        <ul>
        {{#each highlights}}
          <li>{{{this}}}</li>
        {{/each}}
        </ul>
      {{/if}}
      {{#unless @last}}<div>&nbsp;</div>{{/unless}}
    {{/each}}
  </div>
</section>
{{/section}}
